In [3]:
from bs4 import BeautifulSoup

In [4]:
import requests

In [5]:
url ='https://www.tripadvisor.in/Restaurant_Review-g304551-d6352484-Reviews-K3-New_Delhi_National_Capital_Territory_of_Delhi.html'

In [6]:
r = requests.get(url)

In [7]:
data = r.text

In [8]:
soup = BeautifulSoup(data)

In [9]:
review_container = soup.find_all('div', {'class':'review-container'})

In [11]:
len(review_container)

10

In [12]:
final=[]

for review in review_container:
    title = review.find('span',{'class':'noQuotes'}).get_text()
    paragraph = review.find('p', {'class':'partial_entry'}).get_text()
    date = review.find('div', {'class':'prw_reviews_stay_date_hsx'}).get_text().replace('Date of visit:', '')
    rating = review.find('span', {'class':'ui_bubble_rating'})['class'][1]
    
    final.append([rating,date,paragraph,title])

In [13]:
final

[['bubble_50',
  ' September 2019',
  'After a long day visiting Agra what an awesome experience. Thanks Akshay for being the the best server!  I ordered al la cart (wasn‚Äôt super hungry), but the buffet also looks very good with a plethora of choices.  I highly recommend this restaurant.',
  'Great food with wonderful service!'],
 ['bubble_50',
  ' September 2019',
  'What a wonderful team they have there. Supervisor Atish is excellent. So warm, welcoming, hospitality at its best indeed. Thank you so much Atish for taking care of me when i was there last week.More',
  'excellent hospitality'],
 ['bubble_50',
  ' September 2019',
  'Had an amazing food experience with k3. Everything was just perfect \nFood\nPresentations \nand the Service provided by Rishabh and Mayank was very nice. Overall experience with them was fabulous. ThanxMore',
  'Excellent'],
 ['bubble_50',
  ' September 2019',
  'First of all sorry for writing the review so late as i was travelling. I visited the k3 on friday with my family. There was so rush that we had to wait for the table to be allotted to us. As my wife was pregnant...More',
  'Best service at k3'],
 ['bubble_50',
  ' September 2019',
  'This was a repeat visit at K3.\nEnjoyed the food.. pizza was yum..  \nThanks Rishabh and Mayank for great service.More',
  'Awesome'],
 ['bubble_50',
  ' September 2019',
  'I come to this hotel 2-3 times a month and I‚Äôm treated like family!\n\nToday, I desired Dal Makhani and although not on the menu, Chef Rahul made sure I got it!\n\nDelicious!\n\nThe wait staff, kitchen staff and host staff are all very accommodating....More',
  'Chef Rahul takes care of his valued customers!!!'],
 ['bubble_40',
  ' September 2019',
  'Celebrated my birthday at K3 today and it was a lovely experience. We were very well looked after & Digamber from bakery created a warm experience for me with a small cake.\nChefs from the live Italian counter were very hospitable. \n\nOverall it was a...More',
  'Lunch at K3'],
 ['bubble_50',
  ' September 2019',
  'The food in this places is amazing. Is varied and very tasty. \nThe sous chef Ashish Sharma was very welcoming and his food is of excellent quality.More',
  'Excellent food'],
 ['bubble_50',
  ' August 2019',
  'Had a great experience dining at K3 here you can enjoy variety of food and experience a excellent service I was served by Rishabh and he provided everything on time and my family loved the service as well Keep it up JW MarriottüëçMore',
  'Good food good service'],
 ['bubble_50',
  ' September 2019',
  'It‚Äôs a lovely place to be at. The food is tasty and the restaurant is just beautiful. Akshay and Bhupal waited on us and they were just lovely. Overall, it was a nice experience. Food is slightly expensive, however. \n\nHighly recommended üôåüèªMore',
  'Brilliant food, great ambience & nice hospitality']]

In [14]:
import pandas as pd

In [15]:
frame = pd.DataFrame(final, columns=['Rating','Review Date','Review Paragraph', 'Review Title'])

In [16]:
frame

,Rating,Review Date,Review Paragraph,Review Title
0,bubble_50,September 2019,After a long day visiting Agra what an awesome...,Great food with wonderful service!
1,bubble_50,September 2019,What a wonderful team they have there. Supervi...,excellent hospitality
2,bubble_50,September 2019,Had an amazing food experience with k3. Everyt...,Excellent
3,bubble_50,September 2019,First of all sorry for writing the review so l...,Best service at k3
4,bubble_50,September 2019,This was a repeat visit at K3.\nEnjoyed the fo...,Awesome
5,bubble_50,September 2019,I come to this hotel 2-3 times a month and I‚Äôm...,Chef Rahul takes care of his valued customers!!!
6,bubble_40,September 2019,Celebrated my birthday at K3 today and it was ...,Lunch at K3
7,bubble_50,September 2019,The food in this places is amazing. Is varied ...,Excellent food
8,bubble_50,August 2019,Had a great experience dining at K3 here you c...,Good food good service
9,bubble_50,September 2019,It‚Äôs a lovely place to be at. The food is tast...,"Brilliant food, great ambience & nice hospitality"

In [17]:
frame['Rating']= frame['Rating'].replace('bubble_50', '5')
frame['Rating']= frame['Rating'].replace('bubble_40', '4')

First Page of Reviews of K3 Restaurant

In [18]:
frame

,Rating,Review Date,Review Paragraph,Review Title
0,5,September 2019,After a long day visiting Agra what an awesome...,Great food with wonderful service!
1,5,September 2019,What a wonderful team they have there. Supervi...,excellent hospitality
2,5,September 2019,Had an amazing food experience with k3. Everyt...,Excellent
3,5,September 2019,First of all sorry for writing the review so l...,Best service at k3
4,5,September 2019,This was a repeat visit at K3.\nEnjoyed the fo...,Awesome
5,5,September 2019,I come to this hotel 2-3 times a month and I‚Äôm...,Chef Rahul takes care of his valued customers!!!
6,4,September 2019,Celebrated my birthday at K3 today and it was ...,Lunch at K3
7,5,September 2019,The food in this places is amazing. Is varied ...,Excellent food
8,5,August 2019,Had a great experience dining at K3 here you c...,Good food good service
9,5,September 2019,It‚Äôs a lovely place to be at. The food is tast...,"Brilliant food, great ambience & nice hospitality"

In [19]:
frame.to_excel('Data Analyst Internship Submission.xlsx')

Text Processing Starts Now!!!!!!!!

In [20]:
#Case conversion to Lower
frame['Review Paragraph']=frame['Review Paragraph'].str.lower()
frame['Review Title']=frame['Review Title'].str.lower()

In [21]:
import nltk

In [22]:
from nltk.tokenize import word_tokenize

In [23]:
import nltk

In [24]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rahul\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [25]:
frame

,Rating,Review Date,Review Paragraph,Review Title
0,5,September 2019,after a long day visiting agra what an awesome...,great food with wonderful service!
1,5,September 2019,what a wonderful team they have there. supervi...,excellent hospitality
2,5,September 2019,had an amazing food experience with k3. everyt...,excellent
3,5,September 2019,first of all sorry for writing the review so l...,best service at k3
4,5,September 2019,this was a repeat visit at k3.\nenjoyed the fo...,awesome
5,5,September 2019,i come to this hotel 2-3 times a month and i‚Äôm...,chef rahul takes care of his valued customers!!!
6,4,September 2019,celebrated my birthday at k3 today and it was ...,lunch at k3
7,5,September 2019,the food in this places is amazing. is varied ...,excellent food
8,5,August 2019,had a great experience dining at k3 here you c...,good food good service
9,5,September 2019,it‚Äôs a lovely place to be at. the food is tast...,"brilliant food, great ambience & nice hospitality"

In [26]:
#Punctuation Removal from Column Review Paragraph

frame['Review Paragraph'] = frame['Review Paragraph'].str.replace('[^\w\s]','')

In [27]:
#Punctuation Removal from Column Review title
frame['Review Title'] = frame['Review Title'].str.replace('[^\w\s]','')

In [28]:
frame

,Rating,Review Date,Review Paragraph,Review Title
0,5,September 2019,after a long day visiting agra what an awesome...,great food with wonderful service
1,5,September 2019,what a wonderful team they have there supervis...,excellent hospitality
2,5,September 2019,had an amazing food experience with k3 everyth...,excellent
3,5,September 2019,first of all sorry for writing the review so l...,best service at k3
4,5,September 2019,this was a repeat visit at k3\nenjoyed the foo...,awesome
5,5,September 2019,i come to this hotel 23 times a month and im t...,chef rahul takes care of his valued customers
6,4,September 2019,celebrated my birthday at k3 today and it was ...,lunch at k3
7,5,September 2019,the food in this places is amazing is varied a...,excellent food
8,5,August 2019,had a great experience dining at k3 here you c...,good food good service
9,5,September 2019,its a lovely place to be at the food is tasty ...,brilliant food great ambience nice hospitality

In [29]:
import nltk

In [30]:
from nltk.tokenize import word_tokenize

In [31]:
#Tokenization of Column Review Paragraph

frame['tokenized_para'] = frame['Review Paragraph'].apply(word_tokenize)

In [32]:
frame['tokenized_para']

0    [after, a, long, day, visiting, agra, what, an...
1    [what, a, wonderful, team, they, have, there, ...
2    [had, an, amazing, food, experience, with, k3,...
3    [first, of, all, sorry, for, writing, the, rev...
4    [this, was, a, repeat, visit, at, k3, enjoyed,...
5    [i, come, to, this, hotel, 23, times, a, month...
6    [celebrated, my, birthday, at, k3, today, and,...
7    [the, food, in, this, places, is, amazing, is,...
8    [had, a, great, experience, dining, at, k3, he...
9    [its, a, lovely, place, to, be, at, the, food,...
Name: tokenized_para, dtype: object

In [33]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rahul\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [34]:
from nltk.corpus import stopwords

In [35]:
stop_words = set(stopwords.words('english'))

In [36]:
#Removal of Stop Words from Tokenized Review Column

frame['tokenized_para']= frame['tokenized_para'].apply(lambda x: [w for w in x if not w in stop_words])

In [37]:
frame

,Rating,Review Date,Review Paragraph,Review Title,tokenized_para
0,5,September 2019,after a long day visiting agra what an awesome...,great food with wonderful service,"[long, day, visiting, agra, awesome, experienc..."
1,5,September 2019,what a wonderful team they have there supervis...,excellent hospitality,"[wonderful, team, supervisor, atish, excellent..."
2,5,September 2019,had an amazing food experience with k3 everyth...,excellent,"[amazing, food, experience, k3, everything, pe..."
3,5,September 2019,first of all sorry for writing the review so l...,best service at k3,"[first, sorry, writing, review, late, travelli..."
4,5,September 2019,this was a repeat visit at k3\nenjoyed the foo...,awesome,"[repeat, visit, k3, enjoyed, food, pizza, yum,..."
5,5,September 2019,i come to this hotel 23 times a month and im t...,chef rahul takes care of his valued customers,"[come, hotel, 23, times, month, im, treated, l..."
6,4,September 2019,celebrated my birthday at k3 today and it was ...,lunch at k3,"[celebrated, birthday, k3, today, lovely, expe..."
7,5,September 2019,the food in this places is amazing is varied a...,excellent food,"[food, places, amazing, varied, tasty, sous, c..."
8,5,August 2019,had a great experience dining at k3 here you c...,good food good service,"[great, experience, dining, k3, enjoy, variety..."
9,5,September 2019,its a lovely place to be at the food is tasty ...,brilliant food great ambience nice hospitality,"[lovely, place, food, tasty, restaurant, beaut..."

In [38]:
#Stemming and Lemmatization

from nltk.stem import PorterStemmer, WordNetLemmatizer
porter_stemmer = PorterStemmer()

In [39]:
frame['stemmed_para'] = frame['tokenized_para'].apply(lambda x: [porter_stemmer.stem(y) for y in x])

In [40]:
frame

,Rating,Review Date,Review Paragraph,Review Title,tokenized_para,stemmed_para
0,5,September 2019,after a long day visiting agra what an awesome...,great food with wonderful service,"[long, day, visiting, agra, awesome, experienc...","[long, day, visit, agra, awesom, experi, thank..."
1,5,September 2019,what a wonderful team they have there supervis...,excellent hospitality,"[wonderful, team, supervisor, atish, excellent...","[wonder, team, supervisor, atish, excel, warm,..."
2,5,September 2019,had an amazing food experience with k3 everyth...,excellent,"[amazing, food, experience, k3, everything, pe...","[amaz, food, experi, k3, everyth, perfect, foo..."
3,5,September 2019,first of all sorry for writing the review so l...,best service at k3,"[first, sorry, writing, review, late, travelli...","[first, sorri, write, review, late, travel, vi..."
4,5,September 2019,this was a repeat visit at k3\nenjoyed the foo...,awesome,"[repeat, visit, k3, enjoyed, food, pizza, yum,...","[repeat, visit, k3, enjoy, food, pizza, yum, t..."
5,5,September 2019,i come to this hotel 23 times a month and im t...,chef rahul takes care of his valued customers,"[come, hotel, 23, times, month, im, treated, l...","[come, hotel, 23, time, month, im, treat, like..."
6,4,September 2019,celebrated my birthday at k3 today and it was ...,lunch at k3,"[celebrated, birthday, k3, today, lovely, expe...","[celebr, birthday, k3, today, love, experi, we..."
7,5,September 2019,the food in this places is amazing is varied a...,excellent food,"[food, places, amazing, varied, tasty, sous, c...","[food, place, amaz, vari, tasti, sou, chef, as..."
8,5,August 2019,had a great experience dining at k3 here you c...,good food good service,"[great, experience, dining, k3, enjoy, variety...","[great, experi, dine, k3, enjoy, varieti, food..."
9,5,September 2019,its a lovely place to be at the food is tasty ...,brilliant food great ambience nice hospitality,"[lovely, place, food, tasty, restaurant, beaut...","[love, place, food, tasti, restaur, beauti, ak..."

In [41]:
lemmatizer = WordNetLemmatizer()

In [42]:
frame['lemmatizer_para'] = frame['tokenized_para'].apply(lambda x: [lemmatizer.lemmatize(y) for y in x])

In [43]:
frame

,Rating,Review Date,Review Paragraph,Review Title,tokenized_para,stemmed_para,lemmatizer_para
0,5,September 2019,after a long day visiting agra what an awesome...,great food with wonderful service,"[long, day, visiting, agra, awesome, experienc...","[long, day, visit, agra, awesom, experi, thank...","[long, day, visiting, agra, awesome, experienc..."
1,5,September 2019,what a wonderful team they have there supervis...,excellent hospitality,"[wonderful, team, supervisor, atish, excellent...","[wonder, team, supervisor, atish, excel, warm,...","[wonderful, team, supervisor, atish, excellent..."
2,5,September 2019,had an amazing food experience with k3 everyth...,excellent,"[amazing, food, experience, k3, everything, pe...","[amaz, food, experi, k3, everyth, perfect, foo...","[amazing, food, experience, k3, everything, pe..."
3,5,September 2019,first of all sorry for writing the review so l...,best service at k3,"[first, sorry, writing, review, late, travelli...","[first, sorri, write, review, late, travel, vi...","[first, sorry, writing, review, late, travelli..."
4,5,September 2019,this was a repeat visit at k3\nenjoyed the foo...,awesome,"[repeat, visit, k3, enjoyed, food, pizza, yum,...","[repeat, visit, k3, enjoy, food, pizza, yum, t...","[repeat, visit, k3, enjoyed, food, pizza, yum,..."
5,5,September 2019,i come to this hotel 23 times a month and im t...,chef rahul takes care of his valued customers,"[come, hotel, 23, times, month, im, treated, l...","[come, hotel, 23, time, month, im, treat, like...","[come, hotel, 23, time, month, im, treated, li..."
6,4,September 2019,celebrated my birthday at k3 today and it was ...,lunch at k3,"[celebrated, birthday, k3, today, lovely, expe...","[celebr, birthday, k3, today, love, experi, we...","[celebrated, birthday, k3, today, lovely, expe..."
7,5,September 2019,the food in this places is amazing is varied a...,excellent food,"[food, places, amazing, varied, tasty, sous, c...","[food, place, amaz, vari, tasti, sou, chef, as...","[food, place, amazing, varied, tasty, sou, che..."
8,5,August 2019,had a great experience dining at k3 here you c...,good food good service,"[great, experience, dining, k3, enjoy, variety...","[great, experi, dine, k3, enjoy, varieti, food...","[great, experience, dining, k3, enjoy, variety..."
9,5,September 2019,its a lovely place to be at the food is tasty ...,brilliant food great ambience nice hospitality,"[lovely, place, food, tasty, restaurant, beaut...","[love, place, food, tasti, restaur, beauti, ak...","[lovely, place, food, tasty, restaurant, beaut..."

In [133]:
# I will go with stemmed para for further process

In [134]:
from collections import Counter

In [135]:
frame['new']=frame['stemmed_para'].apply(' '.join)

In [136]:
para = ' '.join(frame['new'].tolist())

In [137]:
#Para1: Paragraph without stop words and no punctuation.

para

'long day visit agra awesom experi thank akshay best server order al la cart wasnt super hungri buffet also look good plethora choic highli recommend restaur wonder team supervisor atish excel warm welcom hospit best inde thank much atish take care last weekmor amaz food experi k3 everyth perfect food present servic provid rishabh mayank nice overal experi fabul thanxmor first sorri write review late travel visit k3 friday famili rush wait tabl allot us wife pregnantmor repeat visit k3 enjoy food pizza yum thank rishabh mayank great servicemor come hotel 23 time month im treat like famili today desir dal makhani although menu chef rahul made sure got delici wait staff kitchen staff host staff accommodatingmor celebr birthday k3 today love experi well look digamb bakeri creat warm experi small cake chef live italian counter hospit overal amor food place amaz vari tasti sou chef ashish sharma welcom food excel qualitymor great experi dine k3 enjoy varieti food experi excel servic serv rishabh provid everyth time famili love servic well keep jw marriottmor love place food tasti restaur beauti akshay bhupal wait us love overal nice experi food slightli expens howev highli recommend'

In [138]:
type(para)

str

In [139]:
# Top 10 words from para1

words2 = Counter()
words2.update(para.split())
words2.most_common(10)

[('experi', 8),
 ('food', 8),
 ('k3', 5),
 ('love', 4),
 ('visit', 3),
 ('thank', 3),
 ('excel', 3),
 ('servic', 3),
 ('rishabh', 3),
 ('overal', 3)]

In [140]:
para2 = ' '.join(frame['Review Paragraph'].tolist())

In [141]:
# Para2:  Paragraph directly from website(Including stop words)

para2

'after a long day visiting agra what an awesome experience thanks akshay for being the the best server  i ordered al la cart wasnt super hungry but the buffet also looks very good with a plethora of choices  i highly recommend this restaurant what a wonderful team they have there supervisor atish is excellent so warm welcoming hospitality at its best indeed thank you so much atish for taking care of me when i was there last weekmore had an amazing food experience with k3 everything was just perfect \nfood\npresentations \nand the service provided by rishabh and mayank was very nice overall experience with them was fabulous thanxmore first of all sorry for writing the review so late as i was travelling i visited the k3 on friday with my family there was so rush that we had to wait for the table to be allotted to us as my wife was pregnantmore this was a repeat visit at k3\nenjoyed the food pizza was yum  \nthanks rishabh and mayank for great servicemore i come to this hotel 23 times a month and im treated like family\n\ntoday i desired dal makhani and although not on the menu chef rahul made sure i got it\n\ndelicious\n\nthe wait staff kitchen staff and host staff are all very accommodatingmore celebrated my birthday at k3 today and it was a lovely experience we were very well looked after  digamber from bakery created a warm experience for me with a small cake\nchefs from the live italian counter were very hospitable \n\noverall it was amore the food in this places is amazing is varied and very tasty \nthe sous chef ashish sharma was very welcoming and his food is of excellent qualitymore had a great experience dining at k3 here you can enjoy variety of food and experience a excellent service i was served by rishabh and he provided everything on time and my family loved the service as well keep it up jw marriottmore its a lovely place to be at the food is tasty and the restaurant is just beautiful akshay and bhupal waited on us and they were just lovely overall it was a nice experience food is slightly expensive however \n\nhighly recommended more'

In [142]:
#Top 10 words from Para2

words3 = Counter()
words3.update(para2.split())
words3.most_common(10)

[('the', 16),
 ('and', 15),
 ('was', 14),
 ('a', 12),
 ('i', 9),
 ('experience', 8),
 ('food', 8),
 ('very', 7),
 ('is', 7),
 ('for', 6)]

In [143]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [147]:
analyser = SentimentIntensityAnalyzer()

In [148]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\rahul\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [167]:
score = analyser.polarity_scores('after a long day visiting agra what an awesome')

In [173]:
print(score)

{'neg': 0.0, 'neu': 0.737, 'pos': 0.263, 'compound': 0.3612}